*{
    padding: 0px;
    margin: 0px;
}

html{
    background-color: darkgray;
}
body{
    height: 750px;
    width:  750px;
    background-color: orange;
    margin: auto;
    margin-top: 15px;
}

/* header {
    height: 750px;
    width: 750px;
    background-color: red;

} */

#banner{
  width: 500px;
  height: 250px;
  background: black;
  float: right;

}

#logo{
    width: 250px;
    height: 125px;
    background: white;
}

#buscador{
    width: 250px;
    height: 125px;
    background: green;
    
}

nav{
    height: 50px;
    background-color: blue;
    
}
nav ul{
    list-style: none;

}

nav a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-family: 'Bauhaus 93';
    
}


nav ul li{
    float: left;
    padding: 20px;
    
}

 main{
     height: 400px;
     width: 750px;
     background: pink;
 }

 #lado_izquierdo{
     height: 400px;
     width: 150px;
     background: cornflowerblue;
     float: left;

 }

 article{
     height: 400px;
     width: 500px;
     background: cornflowerblue;
     float: left;
     margin: auto;
    
 }

 #lado_derecho{
    height: 400px;
    width: 100px;
    background: cornflowerblue;
    float: left;

 }

 footer{
     height: 50px;
     text-align: center;
     background: orange;
     font-family: 'Bauhaus 93';
 }

 p{
     text-align: center;
 }

